.tiaojian{
	width: 100%;
}
.tiaojian_top{
    width: 100%;
    height: 50px;
    /* border: 1px solid #ccc; */
    border-top: 3px solid #1d8b7e;
    background-color: #f2f2f2;
    border-radius: 3px;
}
.tiaojian_top span{
	float: left;
	height:50px;
	line-height: 50px;
	margin-left:18px;
}
.tiaojian_top i{
	float: right;
	width: 60px;
	height:30px;
	line-height: 30px;
	text-align: center;
	background-color: #16ace4;
	color:#fff;
	cursor:pointer;
	font-style:normal;
	font-size:13px;
	margin-top:10px;
	margin-right:10px;
}
.tiaojian .tiaojian_bottom{
    width: 100%;
    margin: 0;
    /* border: 1px solid #ccc; */
    /* border-top: 0; */
    background: #fff;
    margin-top: 20px;
    border-radius: 5px;
}
.tiaojian .tiaojian_bottom li.tiaojian_li{
	width: 96%;
	margin-left:2%;
	height:50px;
	line-height: 50px;
	border-bottom:1px solid #ccc;
	float:inherit;
}
.tiaojian .tiaojian_bottom li.tiaojian_li span{
	width: 115px;
	height:50px;
	line-height: 50px;
	float: left;
}
.tiaojian .tiaojian_bottom li.tiaojian_li ol{
	float: left;
	height:50px;
	line-height: 50px;
}
.tiaojian .tiaojian_bottom li.tiaojian_li ol li{
	float: left;
	width:auto;
	height:auto;
	font-size:13px;
	color: #666;
	margin:0;
	padding:0;
	margin-right:10px;
	cursor:pointer;
}
.tiaojian .tiaojian_bottom li.tiaojian_li ol li:hover{
	color:#1d8b7e;
}
.tiaojian .tiaojian_bottom li.tiaojian_li ol li.active{
	color:#1d8b7e;
}
.yeshu_ul{
	float: left;
	width: 100%;
	height:50px;
	line-height:50px;
}
.yeshu_ul span{
	float: left;
	width: 33px;
	height:46px;
	border:1px solid #ccc;
	cursor:pointer;
}
.yeshu_ul .yeshu_li{
	float: left;
	width: 102px;
	height:46px;
	line-height: 46px;
	border:1px solid #ccc;
	border-left:none;
	text-align: center;
	background-color:#F2F9FF;
	font-size:13px;
	cursor:pointer;
}
.yeshu_ul .yeshu_li:hover{
	background-color: #fff;
	border-bottom:0;
}
.yeshu_ul .yeshu_li.current{
	background-color: #fff;
	border-bottom:0;
}
.biaodati{
	width: 100%;
	height:60px;
	line-height: 60px;
	text-align: center;
	margin-top:20px;
	font-size:30px;
	color:#3A589D;
	float: left;
}
.zhuyaodate{
	float: left;
	width: 100%;
	margin-top:20px;
}
.zhuyaodate .zhuyaodate_left{
	float: left;
	width:456px;
	height:400px;
	border:1px solid #ccc;
	border-radius:10px;
	padding:20px 20px;
}
.zhuyaodate .zhuyaodate_left p{
	font-size:14px;
	color:#333;
}
.zhuyaodate .zhuyaodate_right{
	float: left;
	margin-left:20px;
	width:440px;
	height:400px;
	border:1px solid #ccc;
	border-radius:10px;
	padding:20px 20px;
}
.zhuyaodate .zhuyaodate_right p{
	font-size:14px;
	color:#333;
}
/*.collectby-td button{
	width: 80px;
	height:30px;
	background-color: #fff;
	border:1px solid #eee;
	border-radius:5px;
}*/
.collbdy_nin{
	float: left;
	width: 100%;
}
.collbdy_nin_one{
	float: left;
	width: 580px;
	height:400px;
	margin-top:40px;
	border-radius:10px;
}
.collbdy_nin_one .area_one{
	width: 580px;
	height:320px;
	float: left;
	padding:15px 20px;
	resize:none;
	border:1px solid #ccc;
	border-radius:10px;
}
.wein_intext{
	width: 100%;
	height:50px;
	line-height: 50px;
	text-align: center;
	float: left;
    margin-top: 25px;
}
.wein_intext span{
	display:inline-block;
	min-width:80px;
	height:30px;
	line-height: 30px;
	text-align: center;
	color:#fff;
	font-size:13px;
	padding:0 10px;
	cursor:pointer;
	border-radius:5px;
	margin:0 5px;
}
.h45efi{
	width:100%;
	height:30px;
	line-height:30px;
	color:#333;
	display:inline-block;
	padding:0 10px;
	color:#333;
	border-radius:5px;
	font-size:12px;
}
.header_nei{
	width:100%;
	height:355px;
	padding:0 10px;
	margin-top:10px;
	/*background-color:#d9edf7;*/
	border-radius:5px;
}
.header_nei ol{
	width:96%;
	float: left;
	padding-top:10px;
	margin-left:2%;
}
.header_nei ol.shuju_lsie li{
	float: left;
	color:#333;
	width:100%;
	height:35px;
	border-bottom:1px dashed #ccc;
	line-height:35px;
	font-size:12px;
	color:#78CD51;
	cursor:pointer;
}
.header_nei ol.shuju_lsie li:hover{
	text-decoration: underline;
}
.ol_listli{
	width:480px;
/*	height:400px;*/
	float: left;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
}
.ol_listli li{
	float: left;
	width:119px;
	height:30px;
	border:1px solid #ccc;
	border-top:0;
	border-left:none;
	line-height: 30px;
	font-size:12px;
	text-align: center;
}
.ol_top_top{
	width: 480px;
	height:35px;
	line-height:35px;
	float: left;
	border-bottom:1px solid #ccc;
}
.ol_top_top span{
	float: left;
	width:85px;
	height:35px;
	line-height: 35px;
	text-align: center;
	cursor:pointer;
	margin-right:10px;
	font-size:12px;
}
.ol_top_top span.current15{
    border-radius: 5px 5px 0 0;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-top: 1px;
    background: #fff;
}
.ol_top_bottom{
	width:480px;
	float: left;
}
.ol_top_bottom .ol_bottom_ol{
	float: left;
	width: 480px;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	background-color:#dff0d8;
}
.ol_top_bottom .ol_bottom_ol li{
	float: left;
	width:119px;
	height:30px;
	border:1px solid #ccc;
	border-top:0;
	border-left:none;
	line-height: 30px;
	font-size:12px;
	text-align: center;
}
.tiaojian_top{
	background-color:#1d8b7e;
	color:#fff;
	border-radius:2px 2px 0 0;
}
.dianzan_list{
	width: 1200px;
	margin:0 auto;
	background-color: #fff;
	margin-top:20px;
}
.dianzan_list_h5{
	display:block;
	width:96%;
	margin-left:2%;
	margin-top:10px;
	border-bottom:1px dashed #f0f0f0;
	height:30px;
	line-height: 30px;
	text-align: center;
	color:#666;
	font-size:15px;
	border-radius:2px;
}
.dianzan_list_ul{
	display:block;
	width: 96%;
	margin-left:2%;
	margin-top: 10px;
}
.dianzan_list_ul li,.dianzan_list_ul li ol,.dianzan_list_ul li ol li{margin:0;padding:0;}
.dianzan_list_ul .dianzan_list_li{
	display:inline-block;
	width: 49%;
	margin-top:10px;
	margin-bottom:10px;
}
.dianzan_list_ul .dianzan_list_li .dianzan_list_ol{
	display:inline-block;
}

.dianzan_list_ul .dianzan_list_li .dianzan_list_ol li.list_oli{
	width:auto;
	display:inline-block;
}
.dianzan_list_ul .dianzan_list_li .dianzan_list_ol li.list_oli a{
	color:#999;
	margin-right:10px;
}
.dianzan_list_ul .dianzan_list_li .dianzan_list_ol li.list_oli a.active{
	color:red;
}
.dianzan_list_ul .dianzan_list_li .dianzan_list_ol li.list_oli a i{
	margin-left:4px;
	margin-right:4px;
	display: inline;
}
.dianzan_list_ul .dianzan_list_li .dianzan_list_ol li.list_oli.list_oli_one{
	display:inline-block;
	width:240px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	color:#666;
	font-size:13px;
}